<div class="copyright-section text-s">Copyright 2024, Bundesdruckerei GmbH</div>

<ul class="menu-section">
  <li>
    <a class="navigation-button text-s" id="legal-notice" [href]="legalNoticeUrl" target="_blank" rel="noopener noreferrer">Legal notice</a>
  </li>
  <li>
    <a class="navigation-button text-s" id="privacy-terms" [href]="privacyTermsUrl" target="_blank" rel="noopener noreferrer">Privacy terms</a>
  </li>
  <li>
    <button class="navigation-button text-s" id="licence-information" routerLink="licences" routerLinkActive="active">Licence information</button>
  </li>
</ul>
